# Welcome to Lab #1

In this exercise, you will be given instructions for each task. Please translate that into code in the following cell.

The tasks will be a good way to practice what we have been learning in class. For several tasks, there will be hints provided along the way.

## Grocery store

In the following tasks, we will be shopping at a grocery store. So we will need some products to buy, their prices, and any discounts.

## Task 1 : create product prices

Create three variables to represent the prices of any three fruits that you want to buy. Name the variables as the fruit names  (in singular) and assign them per-unit prices as `float`s.

HINT: 

- Use the assignment operator `=` to set the value of a variable.
- Also recall the rules about variable names.
- you cannot add $ signs to the values, as that would make it a string, and no longer a float. so only use numbers for values.

In [3]:
# create the first fruit variable here
grapes = float(7.5)

# create the second fruit variable here
blueberry = float(6.9)

# create the third fruit variable here
oranges = float(3.8)

## Task 2 : create a discount rate

Create a variable to store the discount rate for fruits, and set its value to a single number between 2 and 5% (you choose, and express it as a `float`).

In [4]:
# create a variable to store the discount rate
discount = float(0.05)

## Task 3: print out the price of a product

Print a sentence that provides the price of one unit of the first fruit you selected above.

The output should look like: \
`The price of one your_fruit_name_here is = $ your_price`

HINT:
- whatever you want printed out can be written inside a `print()` command within quotes (" ") since it is a string. 
- Then to print out the price, follow the previous string with a ,(comma) followed by the variable name to concatenate the latter to the string.

In [5]:
# write a print statement 
print("The price of one blueberry is = $",blueberry)

The price of one blueberry is = $ 6.9

## Task 4 : print price of a product (more complex)

Recreate the above output and add some additional text after the price. The output should look like: \

`The price of one your_fruit_name_here is = $ your_price. That is a good deal.`

HINT:

- to print something as output, we can use `print()`
- everything inside print() needs to be a `str`, given within `" "` or cast to a str
- to add multiple things to the `print()` command use `,` (commas) to concatenate them.
- we can add numbers to a `str` without needing to explicitly cast the number to a str. Numbers inside print are implicitly cast to str for us.
- To continue to add some str after the numeric price use a `,` followed by another string `" "`.

In [6]:
# write a print statement 
a = ".That is a good deal."
print("The price of one blueberry is = $",blueberry,a)

The price of one blueberry is = $ 6.9 .That is a good deal.

## Task 5 : compute basket total with discount

Let's compute the total basket price (with the discount).

First decide how may pieces or units of each fruit will you buy. Then compute the total price and apply the discount  to get the answer. Then finally print the answer using a sentence.

`The final price of the basket is $ **total_with_discount**.`

In [7]:
# first compute the price without the discount and save it in a variable
units = 10 #10 units for each fruit

# now compute the total quantity
qty = units*(blueberry + grapes + oranges)

#applying discount on total quantity
total = qty - discount*qty

# print the answer using a sentence
print("The final price of the basket is $",total)

The final price of the basket is $ 172.9

# TASK 6: Sunday

Create a `bool` variable to indicate whether today is a Sunday (call it `sun`). Let's assume its value equals `True`. 

Create another variable to store the Sunday discount rate. Set it to 10% as a `float`.

In [8]:
# create a variable to store whether it is Sunday
sun = bool(True)

# create a variable to store the Sunday discount rate 
disc_rate = float(0.10)

##TASK 7 : Compute total price with discount on Sundays vs regular days

Compute the total (discounted) price again. But this time, first check to see whether it is a Sunday, and if so, use the sunday discounted rate created earlier. Else, use the regular discounted rate from above. Print a different output for Sunday vs . regular days.

On sundays, print:
- Your Sunday total = \$sunday_totaldisc_price \

On other days, print:
- Your regular total = \$regular_totaldisc_price

HINT: 
- Write an if-else statement to check whether today is Sunday or not (its value is set to True) and 
- compute the total discounted price by applying the Sunday rate or the non-Sunday rate, depending on whether the if-condition is True or False.

In [9]:
# write an if-else statement

if sun == True:
  total = qty - disc_rate*qty #applying sunday discount rate of 10
  print("Your Sunday total is $",total)
else:
 total = qty - discount*qty #applying non-sunday discount rate of 5
 print("Your regular total is $",total)

Your regular total is $ 172.9

## TASK 8 : using the math module

Sometimes we need to use other packages (other than standard Python) in order to use some additional functions.

In this task, you are asked to compute the floor of a number.

There is a function for this - it is called floor, but it is found in the `math` module.

In order to use other non-standard modules, we have to first import them. There are multiple ways to import modules.

1. Write:\
`import math`

Now in your code you can call any function within math using the `.` operator. So to use floor() function, we have to call it as `math.floor`.

OR

2. Write: \
`import math as m`

here we are giving the math module as short name so we can write `m.floor()` instead of math.floor().


Create a new variable num and set it equal to 15.5. Compute and print its floor value using the floor() function.

HINT:
- first import the module using one of the import statements
- then write the appropriate command to call the `floor()` function and give it the `num` variable as an input (argument).

In [10]:
# import the math module
import math as m

# store the number in a variable
num = 15.5

# call the floor function from the math module to print just the floor of the number
m.floor(num)

15

## TASK 9 : Lower case name

Save your name in a variable in all upper case. Print out just your name in lower case.

In [11]:
# store your full name in upper case a variable
name = "TANU BHASIN"

# print just your name in all lower case.
print(name.lower())

tanu bhasin

## TASK 10: Split a string

When manipulating strings, sometimes we may want to split a string into tokens (words). There is a method in str called `split()` that does exactly that.

Look up its documentation - identify its parameters, their default values, and return type.

Now use the string method to split your name into words.

Note that the output returned by `str.split()` is no longer a string. It is a  ___________. Write a command to determine the data type of the output returned by the split method of str.

HINT: 
- this is a Python function that we learned about to determine data type of a variable or value.

In [13]:
# write code to split your name, save the output in a new variable, and print it.
name1 = "TANU BHASIN"
split_name1 = name1.split() #string.split(separator, maxsplit)
print(split_name1)

# write code to determine the type of the output returned by str.split()
typeL = type(split_name1) #type is the built in function
print("The data type is",typeL)

['TANU', 'BHASIN']
The data type is <class 'list'>

# THE END