# Welcome to IS 6010 Lab #2: Data Analysis with Pandas

In this lab exercise, we will continue working with the  'movies_cleaned.csv' dataset that wass created in the tutorial. You are asked to answer questions based on what we have just learned in the tutorial. Please write your code in the cell provided after each question.

# PART 2: Let's practice

In general, unless requested do not use head() or tail(). If neither of these are requested then show the full output that is generated (can be truncated, that is okay).

In each task, there are some Hints and a basic structure of the code with blanks is given to guide you. sometimes code can be written in multiple ways, so you do not have to follow the structure.

## TASK 0. Housekeeping

### TASK 0a. import pandas as pd

In [1]:
# write your code here
import pandas as pd

### TASK 0b. Set up code to read from Google Drive

Since we will be reading in files from our Google Drive, we need to copy paste the code from Step 3a from the IntrotoPandas.ipynb file. 
I have done it for you.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

# type the following command to change to the Colab Notebooks folder 
%cd /content/drive/My Drive/Colab Notebooks/

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks

In [3]:
!ls

IntroToMarkdown.ipynb  Lab1-TanuBhasin.ipynb  Untitled
IntrotoPandas.ipynb    Lab2-TanuBhasin.ipynb  Untitled0.ipynb
IntroToPython-1.ipynb  movies_cleaned.csv     Untitled1.ipynb
IntroToPython-2.ipynb  movies.csv	      Untitled2.ipynb

### TASK 0c. Read the data 'movies_cleaned.csv' 

This file was created and saved in your Google Drives' Colab Notebook folder in step 14 of the IntrotoPandas.ipynb file. 

We will read this file in using `pd.read_csv()`. after readng it in, specify that the 'Title' column will be used as the index column.

This task is the same as step 15.

Display the first 6 rows of the new DataFrame, call it `df`.

In [4]:
# write your code here
df = pd.read_csv('movies_cleaned.csv')

df = df.set_index('Title')

df.head(6)

                              Rank       Studio  Gross(M)  Year
Title
Avengers: Endgame                1  Buena Vista    2796.3  2019
Avatar                           2          Fox    2789.7  2009
Titanic                          3    Paramount    2187.5  1997
Star Wars: The Force Awakens     4  Buena Vista    2068.2  2015
Avengers: Infinity War           5  Buena Vista    2048.4  2018
Jurassic World                   6    Universal    1671.7  2015

## TASK 1. Display a random fraction or 0.01 rows

There is a different keyword (optional) parameter in DataFrame's `sample()` method called `frac`. set its value to 0.01.

Your output should contain 8 rows.

`df.________(______)`

In [5]:
# write your code here
# df.sample?
df.sample(frac=0.01) #What is frac ? fraction of the total dataset , we want a random sample of a dataset

                                     Rank       Studio  Gross(M)  Year
Title
Jack Reacher                          696    Paramount     218.3  2012
The Curious Case of Benjamin Button   402    Paramount     333.9  2008
Puss in Boots                         169   Dreamworks     555.0  2011
The Hunchback of Notre Dame           417  Buena Vista     325.3  1996
Crouching Tiger, Hidden Dragon        724         Sony     213.5  2000
21 Jump Street                        777         Sony     201.6  2012
Finding Nemo                           49  Buena Vista     940.3  2003
Divergent                             495    Lionsgate     288.9  2014

## TASK 2. Sort the DataFrame df by ascending order of 'Year' and descending order of 'Gross(M').

HINT: use a sort method of the DataFrame and set its ascending parameter value correctly. Since we are sorting by two columns, you will need to use a list to specify the column, and similarly you need a list for the values for parameter ascending.

`df.________( [_____,_____], ___________[__,___] )`

In [6]:
# write your code here
df.sort_values(['Year','Gross(M)'], ascending = [True,False])

                            Rank       Studio  Gross(M)  Year
Title
Gone with the Wind           288          MGM     402.4  1939
Bambi                        540          RKO     267.4  1942
101 Dalmatians               708  Buena Vista     215.9  1961
The Jungle Book              755  Buena Vista     205.8  1967
The Godfather                604    Paramount     245.1  1972
...                          ...          ...       ...   ...
Us                           572    Universal     254.7  2019
Glass                        591    Universal     247.0  2019
Dark Phoenix                 603          Fox     245.1  2019
The Secret Life of Pets 2    670    Universal     225.9  2019
Men in Black International   686         Sony     220.8  2019

[782 rows x 4 columns]

## TASK 3: Only show the last 15 rows of the results from the previous task.

HINT: Take the code from the previous task and append to it a method at the end that will restrict the number of rows displayed.

`df.________( [_____,_____], ___________[__,___] )._________`

In [7]:
# write your code here
df.sort_values(['Year','Gross(M)'], ascending = [True,False]).tail(15)

,Rank,Studio,Gross(M),Year
Title,,,,
Aladdin -2,59,Buena Vista,880.2,2019
The Wandering Earth,114,China Film Corporation,699.8,2019
Toy Story 4,198,Buena Vista,519.8,2019
How to Train Your Dragon: The Hidden World,199,Universal,519.8,2019
Pokemon Detective Pikachu,263,Warner Brothers,427.5,2019
Alita: Battle Angel,286,Fox,404.9,2019
Godzilla: King of the Monsters,315,Warner Brothers,378.1,2019
Shazam!,340,Warner Brothers,364.1,2019
Dumbo,369,Buena Vista,351.8,2019
John Wick: Chapter 3 - Parabellum,458,Lionsgate,304.7,2019
Us,572,Universal,254.7,2019
Glass,591,Universal,247.0,2019
Dark Phoenix,603,Fox,245.1,2019
The Secret Life of Pets 2,670,Universal,225.9,2019
Men in Black International,686,Sony,220.8,2019

## TASK 4. Display the 110th movie in the original DataFrame.

HINT: use integer indexing on a DataFrame

`____._________[____]`

In [8]:
# write your code here
df.iloc[109] #give the row with index 109 and rank 110

Rank              110
Studio      Lionsgate
Gross(M)        709.7
Year             2009
Name: The Twilight Saga: New Moon, dtype: object

## TASK 5. Find the min and max of 'Title'. 

HINT. Title is now the index of the DataFrame - it is not a column.

So you have to first obtain the index of the DataFrame using an attribute, and then call the methods that will give us the minimum and maximum values.

`______.______._______()`

In [9]:
# write your code here for min --confrim?
index1 = df.index.min() # index inbuilt command for title(index)
index1

'10,000 B.C.'

In [10]:
# write your code here for max
index1 = df.index.max()
index1

'xXx: The Return of Xander Cage'

## TASK 6. What is the type of the object df?

HINT: You can answer this question using a standard Python function that returns the type of a value.

`______(df)`

In [11]:
# write your code here
type(df)

pandas.core.frame.DataFrame

## TASK 7. Obtain only the movies owned by 'Orion' studio.

HINT: since this questions asks you to select or filetr rows based on a condition, use df.loc[] and inside the [] specify a condition to check whether the Studio value is equal (==) 'Orion'

`_____.________[ ________________]`

In [12]:
# write your code here
df.loc[(df['Studio'] == 'Orion')]

                          Rank Studio  Gross(M)  Year
Title
Dances with Wolves         268  Orion     424.2  1990
The Silence of the Lambs   530  Orion     272.7  1991

## TASK 8. Obtain only the movies owned by either 'Orion' or 'Polygram' studios, and sort the result by year in ascending order.

HINT: once again, this question is asking you to filter rows based on either one of two conditions being True.  (remember to use `|` for OR in Pandas)
Use df.loc[] and inside [] specify two conditions, each should be in parentheses ( ) sepaarted by `|`. Finally call a method to sort the values.

`df.____[ (________) ___  (________) ].____________`

In [13]:
# write your code here
df.loc[(df['Studio'] == 'Orion') | (df['Studio'] == 'Polygram')].sort_values('Year')

                             Rank    Studio  Gross(M)  Year
Title
Dances with Wolves            268     Orion     424.2  1990
The Silence of the Lambs      530     Orion     272.7  1991
Four Weddings and a Funeral   597  Polygram     245.7  1994
Bean                          580  Polygram     251.2  1997

## TASK 9. Display the number of movies made by Studios that made movies in the years 2007 to 2010 inclusive

HINT: after using .loc[] to select only specific rows that satisfy the condition on the Year column, select only the Studio column and then call a Series method to calculate the frquency distribution of values in a column (i.e. values_counts()).

`______.loc {(_______) ___ ( ________)} [________]. ___________`

In [18]:
# write your code here

#df.loc[ (df['Year'] >=2007) & (df['Year'] <= 2010)].Studio.value_counts()
df.loc[ (df['Year'] >=2007) & (df['Year'] <= 2010)]['Studio'].value_counts()

Fox                23
Warner Brothers    23
Buena Vista        22
Sony               16
Universal          14
Paramount          11
Dreamworks          8
Lionsgate           4
New Line            3
Weinstein           2
Pathe               1
TriStar             1
MGM                 1
Name: Studio, dtype: int64

## TASK 10. Which Studio has the highest average ranking (that means its movies sold the least on average ) ? Sort the results by values in ascending order.

HINT: This task requires that you first groupby Studio and then select the column over which you want to obtain the average, and call an appropriate aggregation statistic to compute the average within each group. Finally, dont forget to sort the Series in descending order of values to obtain the highest average at the top.

***In a separate cell, write down your answer as a comment. (which studio?).***

`df._________( [_____,_______} ).______._________(________)`

In [28]:
# write your code here
df.groupby(['Studio'])['Gross(M)'].mean().sort_values(ascending = [True])  #mean is the function to use
# I followed ascending order since I am doing the sorting on gross column and not rank column.

Studio
Magn.                     205.600000
Focus                     205.800000
USA                       207.500000
Vestron                   214.600000
Lions                     222.400000
Rela.                     226.900000
CL                        228.100000
Dimension                 244.350000
Pathe                     245.100000
Miramax                   248.060000
Polygram                  248.450000
Artisan                   248.600000
GrtIndia                  254.200000
Columbia                  255.320000
SonR                      257.550000
RKO                       267.400000
TriStar                   289.590909
UTV                       302.900000
MGM                       319.372727
WGUSA                     337.275000
Weinstein                 342.950000
Orion                     348.450000
FUN                       358.000000
IFC                       368.700000
Sony                      381.656977
FR                        385.300000
Universal                 406.443119
New Line                  411.550000
Paramount                 427.447368
Fox                       430.947009
Warner Brothers           444.271212
Dreamworks                454.088889
Lionsgate                 477.771429
Buena Vista               588.680000
Newmarket                 611.900000
China Film Corporation    699.800000
HC                        870.300000
Name: Gross(M), dtype: float64

In [16]:
# write you answer to the above question here 
#Magn is the least movie sold

## THE END